*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* ENCABEZADO */

.banner {
    background-color: #1CB1B0;
    font-size: 15px;
    line-height: 25px;
}
header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #00669F;
    color: #FFFFFF;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    padding: 15px 0;
}
header div, .banner div, nav ul, main section {
    max-width: 1200px;
    margin: 0 auto;
}
header div {
    display: flex;
    align-items: center;
}
h1 {
    font-weight: 400;
    font-size: 30px;
    display: inline-block;
    margin-left: 15px;
}
nav {
    background: #001D2D;
    padding: 15px 0;
}
nav ul {
    display: flex;
    justify-content: flex-end;
}
nav li {
    display: inline-block;
    margin-left: 15px;
}
nav a {
    color: #FFFFFF;
    text-decoration: none;
}
main section {
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

/* CONTENIDO */

.card {
    position: relative;
    background-color: #F3F3F3;
    width: 320px;
    height: 505px;
    display: flex;
    flex-direction: column;
    border-radius: 30px 30px 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 15px 0;
}
.card > img:first-child {
    border-radius: 30px 30px 0 0;
    height: 170px;
}
.card i {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 25px;
    color: #CC2424;
}
.card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -75px;
    text-align: center;
    font-size: 64px;
    padding: 0 15px;
}
h3 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px;
    font-weight: 400;
}
.card-content p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 30px;
}
.profile {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.button {
    background-color: #00669F;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    line-height: 45px;
    border-radius: 7px;
    width: 50%;
}
.plus-button {
    position: fixed;
    right: 15px;
    top: 50%;
    background: #00669F;
    color: #FFFFFF;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
}

/* FORMULARIO */

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}
.form-section {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}
form {
    display: flex;
    width: 50%;
    flex-direction: column;
}
input, select {
    height: 45px;
    padding: 0 15px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 0;
    font-size: 15px;
}
button {
    border: none;
    border-radius: 45px;
    background-color: #1CB1B0;
    text-decoration: none;
    font-size: 15px;
    line-height: 45px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: 700;
    width: 100%;
}
form a {
    text-align: center;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
}
form a span {
    color: #00669F;
}
form div {
    display: flex;
}
form div button:first-child {
    margin-right: 7.5px;
    background: #888888;
    color: #FFFFFF;
}
form div button:last-child {
    margin-left: 7.5px;
}
textarea {
    border: 1px solid #000000;
    min-width: 100%;
    max-width: 100%;
    min-height: 180px;
    max-height: 180px;
}

/* DETALLE */

.detail-main {
    background-image: url("../img/bg\ detalle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0;
}
.detail-card {
    position: relative;
    width: 50%;
    height: 383px;
    background: #FFFFFF;
    border-radius: 30px;
}
.heart {
    position: absolute;
    top: 30px;
    left: 30px;
}
.detail-card > div {
    position: relative;
    top: -75px;
}
.detail-card .profile {
    display: block;
    margin: 0 auto 15px;
}
.detail-card h3 {
    text-align: center;
}
.detail-card p {
    padding: 0 15px;
}
.weapons {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.weapons img {
    width: auto;
    height: auto;
    margin: 0 7.5px;
}
.detail-card a {
    display: block;
    background: #2C0187;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 45px;
    border-radius: 0 0 30px 30px;
    text-align: center;
}

/* PIE DE PÁGINA */

footer {
    background-color: #00669F;
    color: #FFFFFF;
    text-align: center;
    padding: 30px 0;
    font-size: 15px;
}
footer span {
    font-weight: 700;
}